<h1>Create a new deck</h1>
<div class="actions">
	<%= link_to "<< Back to Decks", decks_path %>
</div>
<div class="container">
<%= form_for @deck do |form| %>
	<%= render form %>
	<%= form.submit "Create Deck" %>
<% end %>
</div>
